@import "compass";

@font-face  {
  font-family: lato;
  src: url(../Lato-Reg.ttf);
}

html, body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  -webkit-overflow-scrolling: touch;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

#top-header {
  height: 0px;
  background: #444444;
  border-bottom: 2px solid #404040;
  padding: 10px 0 25px 0;

  .left-section {
    color: white;
    font-size: 12px;
  }
}

#main-nav {
  padding-top: 40px;
  background: #172330;
  width: 100%;
  height: 65px;

  .logo {
    float: left;
    position: relative;
    top: -30px;

    img {
      width: 320px;
      @include transition-duration(0.20s);
      @include transition-timing-function(linear);
    }
  }

  .nav-container {
    width: 60%;
    float: right;
    text-align: center;
    position: relative;
    top: -10px;
    @include transition-duration(0.20s);
    @include transition-timing-function(linear);
    ul {

      li {
        width: 15%;
        display: inline-block;
        color: #fff;
        font-weight: 100;
      }
    }
  }
}

#banner-container {
  position: relative;
  img {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
  }
}

  .banner-contents-container {
    width: 500px;
    height: 200px;
    color: white;
    z-index: 1000;
    margin-top: 350px;

    .banner-button {
      -webkit-transform: skew(-15deg);
      -moz-transform: skew(-15deg);
      -o-transform: skew(-15deg);
      @include border-radius(3px);
      background: #D2583E;
      width: 120px;
      text-align: center;
      padding: 5px 0 10px 0;
    }
  }

.section-header-container {
  color: white;
  background: black;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);  
  width: 350px;
  margin: 0 auto;
  border-right: solid #D2583E 5px;
  padding: 10px 20px;
  text-align: center;
  z-index: 1000;

}

.callboxes-list {
  text-align: center;
  ul {
    margin: 0 !important;
    padding: 0 !important;
    li {
      list-style: none;
      display: inline-block;
      width: 19%;
      margin-left: -2px;

      &:nth-child(4) {
        margin-right: 0 !important;
      }
    }
  }
}

.services-name-box {
  position: relative;
  top: -3px;
  background: #EEEEEE;
  padding: 1px 0 1px 0;
  width: 101%;
}

.seperator-section {
  background-image: url('../images/bg.png');
  height: 400px;
  background-size: cover;
  color: white;
  text-align: center;
}

.about-us-home-section {

  .left-section {
    width: 40%;
    float: left;
    height: 400px;

    ul {

      li {
        list-style: none;
        margin-bottom: 60px;

        .about-list {
          .icon-container {
            margin-right: 1%;
            width: 55px;
            padding: 15px 0 15px 0;
            @include border-radius(80px);
            float: left;
            border: solid #cfcfcf 1px;
            text-align: center;
            position: relative;
            top: 20px;
            i {
              color: #D2583E;
              font-size: 25px;
            }
          }
        }

        .content-container {
          float: right;
          width: 85%;
        }
      }
    }
  }

  .right-section {
    float: right;
    width: 55%;

    img {
      width: 100%;
    }
  }
}

@media all and (max-width: 1260px) {

  .content-container {
    font-size: 12px;
    width: 75% !important;
  }
}


@media all and (max-width: 1062px) {
  .nav-container {
    width: 500px !important;
    font-size: 13px;
    padding: 0 !important;
    margin: 0 !important;
    @include transition-duration(0.20s);
    @include transition-timing-function(linear);
  }  

  .logo {
    float: left;
    position: relative;
    top: -20px !important;
    @include transition-duration(0.20s);
    @include transition-timing-function(linear);

    img {
      width: 250px !important;
      @include transition-duration(0.20s);
      @include transition-timing-function(linear);
    }
  }
}


@media all and (max-width: 835px) {
  .nav-container {
    width: 100% !important;
    font-size: 15px;
    margin-right:40px !important;
    @include transition-duration(0.20s);
    @include transition-timing-function(linear);

    ul {

      li {
        margin-right: 20px;
      }
    }
  }  

  .about-us-home-section{

    .left-section {
      width: 100% !important;
    .content-container {
      font-size: 14px;
      width: 85% !important;
    }
    }


    .right-section {
      display: none;
    }
  }

}

@media all and (max-width: 597px) {
  .nav-container {
    display: none;
  }  

  .logo {
    float: left !important;
    position: relative;
    top: -30px;
    @include transition-duration(0.20s);
    @include transition-timing-function(linear);

    img {
      width: 250px !important;
      @include transition-duration(0.20s);
      @include transition-timing-function(linear);
    }
  }

  #banner-container {
    img {
      height: 250px !important;
      @include transition-duration(0.20s);
      @include transition-timing-function(linear);
    }
  }

  .banner-contents-container {
    width: 270px;
    height: 200px;
    color: white;
    z-index: 1000;
    margin-top: 0px;
    font-size: 14px;

    .banner-button {
      @include border-radius(3px);
      background: #D2583E;
      width: 120px;
      text-align: center;
      padding: 5px 0 10px 0;
    }
  }

  .about-us-home-section{

    .left-section {
      width: 100% !important;
      float: left !important;
      padding: 0 !important;
      margin: 0 !important;
      .content-container {
        width: 90% !important;
        float: left !important;
      }
    }

    .icon-container {
      display: none;
    }

    .right-section {
      display: none;
    }
  }

  .callboxes-list {
    text-align: center !important;

    ul {
      margin: 0 !important;
      padding: 0 !important;

      li {
        list-style: none;
        display: inline-block;
        width: 100%;
        margin-left: -2px;

        &:nth-child(4) {
          margin-right: 0 !important;
        }
      }
    }
  }

  .section-header-container {
    width: 240px;
    h2 {
      font-size: 14px;
    }
  }


}