#footer
  .container
    .footer-left-section
      %p Copyright © 2014 Rhino Custom Detailing
    .footer-right-section
      %i.fa.fa-envelope
      %p rhinowash@gmail.com
      .clear
    .clear
    / .footer-left-section
    /   %h3 Contact Information
    /   %p 17621 Sampson lane <br /> Huntington Beach, CA 92647
    /   %p (714) 847-WASH (9274)
    /   %p rhinowash@gmail.com

    / .footer-left-section
    /   %h3 Contact Information
    /   %p 17621 Sampson lane <br /> Huntington Beach, CA 92647
    /   %p (714) 847-WASH (9274)
    /   %p rhinowash@gmail.com

    / .footer-right-section
    /   %h3 Contact Information
    /   %p 17621 Sampson lane <br /> Huntington Beach, CA 92647
    /   %p (714) 847-WASH (9274)
    /   %p rhinowash@gmail.com
    / .clear