#top-header
  .container 
    .left-section
      Call Us: (213) 123-2134 &nbsp&nbsp | &nbsp&nbsp info@rhinowash.net
#main-nav
  .container
    .logo
      = image_tag 'rhinocustomLogo.png'
    .nav-container
      %ul   
        %li Home
        %li About Us
        %li Services
        %li Portfolio
        %li Contact Us
    .clear
#table-nav-container
  #tablet-nav 
    %i.fa.fa-bars
  .drop-down
    %br
    %ul
      %li Home
      %li About Us
      %li Services
      %li Portfolio
      %li Contact Us