@font-face {
  font-family: lato;
  src: url(../Lato-Reg.ttf); }

/* line 8, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
html, body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

/* line 19, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.container {
  width: 90%;
  margin: 0 auto; }

/* line 24, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.clear {
  clear: both; }

/* line 28, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
#top-header {
  height: 0px;
  background: #444444;
  border-bottom: 2px solid #404040;
  padding: 10px 0 25px 0; }
  /* line 34, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  #top-header .left-section {
    color: white;
    font-size: 12px; }

/* line 40, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
#main-nav {
  padding-top: 40px;
  background: #172330;
  width: 100%;
  height: 65px; }
  /* line 46, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  #main-nav .logo {
    float: left;
    position: relative;
    top: -30px; }
    /* line 51, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    #main-nav .logo img {
      width: 320px;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear; }
  /* line 58, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  #main-nav .nav-container {
    width: 60%;
    float: right;
    text-align: center;
    position: relative;
    top: -10px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }
    /* line 68, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    #main-nav .nav-container ul li {
      width: 15%;
      display: inline-block;
      color: #fff;
      font-weight: 100; }

/* line 78, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
#banner-container {
  position: relative; }
  /* line 80, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  #banner-container img {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1; }

/* line 90, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.banner-contents-container {
  width: 500px;
  height: 200px;
  color: white;
  z-index: 1000;
  margin-top: 350px; }
  /* line 97, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .banner-contents-container .banner-button {
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #D2583E;
    width: 120px;
    text-align: center;
    padding: 5px 0 10px 0; }

/* line 109, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.section-header-container {
  color: white;
  background: black;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  width: 350px;
  margin: 0 auto;
  border-right: solid #D2583E 5px;
  padding: 10px 20px;
  text-align: center;
  z-index: 1000; }

/* line 124, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.callboxes-list {
  text-align: center; }
  /* line 126, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .callboxes-list ul {
    margin: 0 !important;
    padding: 0 !important; }
    /* line 129, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .callboxes-list ul li {
      list-style: none;
      display: inline-block;
      width: 19%;
      margin-left: -2px; }
      /* line 135, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
      .callboxes-list ul li:nth-child(4) {
        margin-right: 0 !important; }

/* line 142, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.callboxes {
  position: relative; }

/* line 146, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.callboxes-overlay {
  background: black;
  width: 100%;
  height: 98%;
  position: absolute;
  z-index: 1000;
  opacity: .70;
  display: none;
  color: white; }
  /* line 156, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .callboxes-overlay .container {
    padding-top: 10px;
    font-weight: bold;
    text-align: center; }

/* line 178, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.services-name-box {
  position: relative;
  top: -3px;
  background: #EEEEEE;
  padding: 1px 0 1px 0;
  width: 101%;
  z-index: 1000; }

/* line 187, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.seperator-section {
  background-image: url("../images/bg.png");
  height: 400px;
  background-size: cover;
  color: white;
  text-align: center; }

/* line 197, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.about-us-home-section .left-section {
  width: 40%;
  float: left;
  height: 400px; }
  /* line 204, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .about-us-home-section .left-section ul li {
    list-style: none;
    margin-bottom: 60px; }
    /* line 209, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .about-us-home-section .left-section ul li .about-list .icon-container {
      margin-right: 1%;
      width: 55px;
      padding: 15px 0 15px 0;
      -webkit-border-radius: 80px;
      -moz-border-radius: 80px;
      -ms-border-radius: 80px;
      -o-border-radius: 80px;
      border-radius: 80px;
      float: left;
      border: solid #cfcfcf 1px;
      text-align: center;
      position: relative;
      top: 20px; }
      /* line 219, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
      .about-us-home-section .left-section ul li .about-list .icon-container i {
        color: #D2583E;
        font-size: 25px; }
    /* line 226, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .about-us-home-section .left-section ul li .content-container {
      float: right;
      width: 85%; }
/* line 234, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
.about-us-home-section .right-section {
  float: right;
  width: 55%; }
  /* line 238, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .about-us-home-section .right-section img {
    width: 100%; }

@media all and (max-width: 1260px) {
  /* line 246, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .content-container {
    font-size: 12px;
    width: 75% !important; } }
@media all and (max-width: 1062px) {
  /* line 254, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .nav-container {
    width: 500px !important;
    font-size: 13px;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }

  /* line 263, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .logo {
    float: left;
    position: relative;
    top: -20px !important;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }
    /* line 270, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .logo img {
      width: 250px !important;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear; } }
@media all and (max-width: 835px) {
  /* line 280, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .nav-container {
    width: 100% !important;
    font-size: 15px;
    margin-right: 40px !important;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }
    /* line 289, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .nav-container ul li {
      margin-right: 20px; }

  /* line 297, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .about-us-home-section .left-section {
    width: 100% !important; }
    /* line 299, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .about-us-home-section .left-section .content-container {
      font-size: 14px;
      width: 85% !important; }
  /* line 306, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .about-us-home-section .right-section {
    display: none; } }
@media all and (max-width: 597px) {
  /* line 314, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .nav-container {
    display: none; }

  /* line 318, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .logo {
    float: left !important;
    position: relative;
    top: -15px !important;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }
    /* line 325, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .logo img {
      width: 190px !important;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear; }

  /* line 333, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  #banner-container img {
    height: 250px !important;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }

  /* line 340, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .banner-contents-container {
    width: 270px;
    height: 200px;
    color: white;
    z-index: 1000;
    margin-top: 0px;
    font-size: 14px; }
    /* line 348, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .banner-contents-container .banner-button {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      background: #D2583E;
      width: 120px;
      text-align: center;
      padding: 5px 0 10px 0; }

  /* line 359, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .about-us-home-section .left-section {
    width: 100% !important;
    float: left !important;
    padding: 0 !important;
    margin: 0 !important; }
    /* line 364, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .about-us-home-section .left-section .content-container {
      width: 90% !important;
      float: left !important; }
  /* line 370, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .about-us-home-section .icon-container {
    display: none; }
  /* line 374, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .about-us-home-section .right-section {
    display: none; }

  /* line 379, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .callboxes-list {
    text-align: center !important; }
    /* line 382, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .callboxes-list ul {
      margin: 0 !important;
      padding: 0 !important; }
      /* line 386, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
      .callboxes-list ul li {
        list-style: none;
        display: inline-block;
        width: 100%;
        margin-left: -2px; }
        /* line 392, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
        .callboxes-list ul li:nth-child(4) {
          margin-right: 0 !important; }

  /* line 399, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .section-header-container {
    width: 240px; }
    /* line 401, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
    .section-header-container h2 {
      font-size: 14px; }

  /* line 408, /Users/Ricky/Sites/rhino-wash/source/stylesheets/all.scss */
  .callboxes-overlay .container {
    font-size: 25px; } }
